body{
    background-color: beige;
}

table{
    border: solid black 1.5px;
}

table tr{
    border: solid black 1.5px;
}

table td{
    border: solid black 1.5px;
}

#ejemplo{
    text-align: center;
}

